
<footer>
    <div class="lg-footer">

        <div class="about-box">
            <div class="about-footer">
                <img src="/images/CoWork454 Logo esign.png" alt="">
                <p>
                    454 Scarborough Beach Rd, <br> Osborne Park,
                    WA 6017
                </p>
                <a href="">TERMS AND CONDITIONS</a>
                <a onclick="contactToggle()">CONTACT US</a>
                <a>(08) 6197 3220</a>
            </div>
        </div>

        <div class="sitemap-footer">

            <ul class="sitemap-footer-links">
                <h6 class="foot-heading">Sitemap</h6>
                <a href="@Url.Action("Index", "Home")">Home</a>
                <a href="@Url.Action("Index", "Spaces")">Spaces</a>
                <a href="@Url.Action("Index", "Booking")">Bookings</a>
                <a href="@Url.Action("Index", "Blog")">Blog</a>
                <a onclick="contactToggle()">Contact</a>
            </ul>

        </div>

        <div class="sitemap-footer">
            <ul class="sitemap-footer-links">
                <h6 class="foot-heading">Follow Us</h6>
                <a href="https://twitter.com">Twitter</a>
                <a href="https://linkdin.com">LinkdIn</a>
                <a href="https://facebook.com">Facebook</a>
                <a href="https://youtube.com">YouTube</a>
            </ul>

        </div>

        <div class="newsletter-footer">

        @Html.Partial("_SubscribeConfirm")

        </div>
    </div>

    <div class="copyright">
        <span><i class="far fa-copyright"></i> All rights reserved by CoWork 454 2020</span>
        <span>A Codemaster Team-1 Creation <i class="fas fa-hands-wash"></i></span>
    </div>
</footer>