<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/contact-layout.css" class="style">
    <link rel="stylesheet" href="~/css/footer-layout.css" class="style">
    <link rel="stylesheet" href="~/css/head-layout.css" class="style">
    <link rel="stylesheet" href="~/css/hero-layout.css" class="style">
    <link rel="stylesheet" href="~/css/nav-layout.css" class="style">
    <link rel="stylesheet" href="~/css/ourspace-layout.css" class="style">
    <link rel="stylesheet" href="~/css/packages-layout.css" class="style">
    <link rel="stylesheet" href="~/css/page-layout.css" class="style">
    <link rel="stylesheet" href="~/css/members.css" class="style">
    <link rel="stylesheet" href="~/css/booking.css" class="style">
    <link rel="stylesheet" href="~/css/blog.css" class="style">
    <script src="https://kit.fontawesome.com/ce8fd2f589.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <title>CoWork 454</title>
    <link rel="stylesheet" href="~/css/swiper.min.css">
</head>
<body>
    <script>document.body.classList.add('fade-out');</script>

        <div class="header">
            <img class="logo" src="/images/CoWork454 Logo esign.png" alt="logo">

            @Html.Partial("_LoginView")

        </div>
        <div class="fullwidth-nav">
            <ul>
                <a href="">Membership</a>
                <a href="">Events</a>
                <a href="@Url.Action("Index", "Spaces")">Spaces</a>
                <a href="@Url.Action("Index", "Booking")">Bookings</a>
                <a href="@Url.Action("Index", "Blog")">Blog</a>
                <a onclick="contactToggle()">Contact</a>
            </ul>
            @Html.Partial("_LoginMobileView")

            <div id='hamburger'>
                <input type="checkbox" class="openSidebarMenu" id="slideNavToggle">
                <label for="slideNavToggle" class="navToggleLabel">
                    <div class="spinner diagonal part-1"></div>
                    <div class="spinner horizontal"></div>
                    <div class="spinner diagonal part-2"></div>
                </label>
            </div>
        </div>
        <form id="login" action="/Login/Login" method="POST">
            <input type="email" name="Email" id="Email" placeholder="E-mail">
            <input type="password" name="Password" id="Password" placeholder="Password">
            <input type="submit" value="Login" id='loginSubmit'>
        </form>
        <ul class="slide-nav">
            <a href="">Membership</a>
            <a href="">Events</a>
            <a href="@Url.Action("Index", "Spaces")">Spaces</a>
            <a href="@Url.Action("Index", "Booking")">Bookings</a>
            <a href="">Blog</a>
            <a onclick="contactToggle()">Contact</a>
        </ul>
        @Html.Partial("_ContactPartial")

        <form id="signUpForm" class="formStyles" action="/Login/Register" method="POST">
            <h2>Sign Up</h2>
            <span>Come and join us. We can't wait to have you. </span>
            <input type="text" id="fname" name="firstname" placeholder="First Name" required>
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required>
            <input type="text" id="company" name="CompanyName" placeholder="Company Name (optional)" optional>
            <input type="number" id="phone-number" name="Phone" placeholder="Mobile" required>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" id="contact-submit" value="Join us">
        </form>
        <div class="blackout-bg"></div>
        @RenderBody()
        <footer>
            <div class="lg-footer">
                <div class="about-footer">
                    <img src="/images/CoWork454 Logo esign.png" alt="">
                    <p>
                        454 Scarborough Beach rd, <br> Osborne Park, <br>
                        WA 6017
                    </p>
                    <span>
                        <a href="">
                            <p>TERMS AND CONDITIONS</p>
                        </a>
                        <a href="">
                            <p>OUR TEAM</p>
                        </a>
                        <a href="">
                            <p>CONTACT US</p>
                        </a>
                    </span>
                </div>
                <div class="sitemap-footer">
                    <h6 class="foot-heading">Sitemap</h6>
                    <ul class="sitemap-footer-links">
                        <a href="">Home</a>
                        <a href="">Membership</a>
                        <a href="">Events</a>
                        <a href="">Spaces</a>
                        <a href="">Bookings</a>
                        <a href="">Blog</a>
                        <a href="">Contact</a>
                    </ul>
                </div>
                <div class="newsletter-footer">
                    <h6 class="foot-heading">Subscribe to our newsletter</h6>
                    <form action="">
                        <input type="text" name="firstName" class="newsletter-input" id="firstName"
                               placeholder="First Name">
                        <input type="text" name="lastName" class="newsletter-input" id="LastName" placeholder="Last Name">
                        <input type="email" name="Email" class="newsletter-input" id="Email" placeholder="Email">
                        <input type="submit" name="submit" id="submit">
                    </form>
                </div>
            </div>
        </footer>

        <script src="~/js/script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCMa4Fmut-ORXO-BjK_6Gz2pNDUscai-g&callback=myMap"></script>
        @RenderSection("Scripts", required: false)

   
</body>
</html>