@using CoWork454.Models;

@{
    var products = (List<Product>)ViewData["Products"];
    var request = (MakeBooking)ViewData["BookingRequest"];
}


    <div id="available-bookings">


        @{
            if (request != null)
            {
                <h3><i class="fas fa-angle-down"></i> Available Spaces <i class="fas fa-angle-down"></i></h3>
                foreach (var product in products)
                {
                    <form method="post" action="/Booking/AddBooking" class="a-booking-box">
                        <img src="@product.ImagePath " alt="space image">
                        <div class="a-booking-info">
                            <span><strong>@product.Name</strong></span>
                            <span><strong>Date: </strong>@request.Date </span>
                            <span><strong>From: </strong>@request.TimeStart </span>
                            <span><strong>To: </strong>@request.TimeFinish </span>
                            <span><strong>Details: </strong><br>@product.Details </span>
                            <input type="hidden" name="ProductId" value="@product.Id" />
                            <input type="hidden" name="TimeStart" value="@request.TimeStart" />
                            <input type="hidden" name="TimeFinish" value="@request.TimeFinish" />
                            <input type="hidden" name="Date" value="@request.Date" />
                        </div>
                        <button type="submit">Make Reservation</button>
                    </form>

                }
            }
            else
            {
                <h3><i class="fas fa-angle-up"></i> Find A Space <i class="fas fa-angle-up"></i></h3>
            }


        }


    </div>